#replace-rule-editor {
  .from-to-container > div {
    width: 49%;
  }

  label.active {
    margin-right: 5px;
  }

  .from-input-group {
    margin-right: 5px;
  }

  .from-input,
  .to-input {
    padding: 0 0 0 5px;
  }
}
