@import 'variables';

a:hover {
  color: inherit;
  text-decoration: none;
}

table {
  width: 100%;
}

.dropdown-menu {
  min-width: 100px;
  padding: 0;

  a.dropdown-option {
    padding: 0.5rem;
    padding-left: 10px;
    font-size: 14px;
    color: #333;
  }
}

.btn {
  line-height: 1.42857143;
  padding: 6px 12px;
  border: 1px solid transparent;
  margin: 0;
  text-transform: capitalize;
}

.btn-default {
  background: #fff;
}

.btn-link:hover {
  text-decoration: none;
  color: #333;
}

i.left {
  margin-right: 5px;
}

.row {
  margin: 0;
}

.tooltip {
  opacity: 1 !important;

  .tooltip-inner {
    padding: 5px 10px !important;
    font-size: 14px !important;
    border-radius: 4px !important;
    max-width: 200px;
    color: #ffffff;
    text-align: center;
    background-color: #000000;
  }
}

input[type="url"],
input[type="text"] {
  &.form-control {
    display: inline-block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  }
}

.left {
  float: left;
}

.right {
  float: right;
}

.dropdown-container {
  display: inline-block;
  margin: 0 5px;
}

.input-group {
  padding: 10px 0;
}

.icon-requestly {
  height: 30px;
  position: relative;
  top: -3px;
}

.rq-white {
  color: white;
  font-size: 18px;
  text-shadow: 0 0 1px;
}

.rq-blue {
  color: #3DA4DF;
  margin-left: -4px;
  font-weight: bold;
  font-size: 18px;
  text-shadow: 0 0 1px;
  font-family: monospace;
  letter-spacing: -2px;
}

#rq-notifier {
  border-radius: 2px;
  color: whitesmoke;
  font-weight: bold;
  position: fixed;
  padding: 8px;
  z-index: 100;
  text-align: center;
  width: 100%;
}

.rq-success {
  background-color: #3c763d;
}

.rq-error {
  background-color: #a94442;
}

.rq-info {
  background-color: #31708f;
}

.rq-notice {
  background-color: #DF731F;
}

.rq-green {
  background: #5B9027;
}

.rq-dimgrey {
  background: dimgrey;
}

.margin-r-0-5 {
  margin-right: 0.5rem;
}

/* customization of bootstrap toggle component */
.toggle {
  min-height: 1rem !important;
  min-width: 1rem !important;
  width: 80px !important;
  height: 25px !important;
  background-color: #adadad !important;
  border-color: #adadad !important;
}

.toggle-group label {
  padding-top: 1px;
  padding-bottom: 0;
}

.toggle-group .toggle-off.btn {
  padding-left: 20px;
  border: none;
}

.toggle-group .toggle-on.btn {
  padding-right: 20px;
}

#redirect-rule-editor .toggle-on.btn,
.redirect .status-cell .toggle-on.btn {
  background-color: #5B9027;
}

#cancel-rule-editor .toggle-on.btn,
.cancel .status-cell .toggle-on.btn {
  background-color: #d32a0e;
}

.replace .status-cell .toggle-on.btn,
.status-toggle.replace + .toggle-group .toggle-on.btn {
  background-color: #2A95E7;
}

.headers .status-cell .toggle-on.btn,
.status-toggle.headers + .toggle-group .toggle-on.btn {
  background-color: #dd9d12;
}

/* Authentication based logic for showing profile pic icon */
.authorized-user {
  .avatar {
    display: inline-block;
  }

  .login-button {
    display: none;
  }
}

.unauthorized-user {
  .avatar {
    display: none;
  }

  .login-button {
    display: inline-block;
  }
}
