{{> RuleEditorHeader heading="Emulate Device Rule" }}

<section class="rule-body content-body">
  {{> RuleProperties}}

  {{> PairsContainerHeading heading="Source Device Pairs" }}

  <div class="pairs-container">
    {{#each pairs}}
      <div class="well well-sm pair-container" data-index="{{@index}}">
        {{> SourceField }}

        <div class="row">
          <div class="destination-container">
            <label class="active">{{readGlobalVar "RQ.HEADER_NAMES.USER_AGENT"}}</label>
            <input type="text" class="user-agent-input form-control" data-key="userAgent" value="{{userAgent}}"
                   placeholder="Enter user agent string">
          </div>
        </div>
      </div>
    {{/each}}
  </div>

  {{> SaveRuleCTA }}
</section>