{{> RuleEditorHeader heading="Replace Host or some part of URL" }}

<section class="rule-body content-body">
  {{> RuleProperties}}

  {{> PairsContainerHeading heading="Pairs" }}

  <div class="pairs-container">
    {{#each pairs}}
      <div class="well well-sm pair-container" data-index="{{@index}}">
        <div class="from-to-container">
          <div class="input-group from-input-group">
            <span class="input-group-addon">Replace</span>
            <input type="text" class="form-control from-input" data-key="from" placeholder="This part in URL" value="{{from}}">
          </div>

          <div class="input-group to-input-group">
            <span class="input-group-addon">With</span>
            <input type="text" class="form-control to-input" data-key="to" placeholder="Will be replaced by this string" value="{{to}}">
          </div>
        </div>
        {{> SourceField sourcePlaceholder="Leave this field Empty to apply above modification to all urls" }}
      </div>
    {{/each}}
  </div>

  {{> SaveRuleCTA }}
</section>